# So matplotlib doesn't try to connect to an X11 server
MPLBACKEND=Agg

# Use this for stuff to run on startup
#
# @reboot
#
#
# Daily sample FX Prices at 6 am
#
# 0 6  * * 1-5 . $HOME/.profile; cd $SCRIPT_PATH; ./update_fx_prices  >> $ECHO_PATH/update_fx_prices.echo 2>&1
#
# Run daily process at 6 am
#
0 6  * * 1-5 . $HOME/.profile; cd $SCRIPT_PATH; ./daily_process >> $ECHO_PATH/daily_process.echo 2>&1
#
# Backup & log maintenance at 4pm
#
0 16 * * 1-5 . $HOME/.profile; mongodump -o ~/dump  >> $ECHO_PATH/mongodump.echo 2>&1
20 16 * * 1-5 . $HOME/.profile; cd $SCRIPT_PATH; ./truncate_echo_files >> /dev/null 2>&1
40 16 * * 1-5 . $HOME/.profile; cd $SCRIPT_PATH; ./truncate_log_files >> $ECHO_PATH/truncate_log_files.echo 2>&1
#
# Note: $MONGO_DATA must be accessible at boot; this won't work if it's in an encrypted home folder
@reboot . $HOME/.profile; mongod --dbpath $MONGO_DATA
