# set environment variables
# Note you may have to change the directory references if your code does not reside in $HOME/psystemtrade/

SCRIPT_PATH="/home/todd/pysystemtrade/sysproduction/linux/scripts"
ECHO_PATH="/home/todd/echos"
DUMP_PATH="/home/todd/data/dump"
# So matplotlib doesn't try to connect to an X11 server
MPLBACKEND=Agg
# Use this for stuff to run on startup
#
# @reboot
#
#
# Daily sample FX Prices at 6 am
#
0 6  * * 1-5 cd $SCRIPT_PATH; ./update_fx_prices >> $ECHO_PATH/update_fx_prices.echo 2>&1
#
# Backup at 11pm
#
0 23 * * 1-5 mongodump --out $DUMP_PATH >> $ECHO_PATH/mongodump.echo 2>&1
#
# Truncate echo files & discard old log entries at 11 pm
#
20 23 * * 1-5 cd $SCRIPT_PATH; ./truncate_echo_files >> /dev/null 2>&1
40 23 * * 1-5 cd $SCRIPT_PATH; ./truncate_log_files >> $ECHO_PATH/truncate_log_files.echo 2>&1
#
